<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{layout :: head}"/>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type="text/javascript" src="/js/analytic.js"></script>

    <script th:inline="javascript">
        $(window).on("load", function () {
            const transactions = [[${transactions}]];
            loadChart(transactions);
        });
    </script>
</head>
<body>
<div th:insert="~{layout :: container(~{ :: content})}">
    <div th:fragment="content" class="container">
        <div class="row shadow p-2 rounded">
            <p class="h6">Current Month Expenses</p>
            <div class="col border" style="margin-right: 20px">
                <canvas id="barChart"></canvas>
            </div>
            <div class="col-4 border">
                <canvas id="doughnutChart"></canvas>
            </div>
        </div>
        <div class="row mt-5 shadow p-2 rounded">
            <p class="h6">Overall Expenses</p>
            <div class="col border">
                <canvas id="lineChart"></canvas>
            </div>
        </div>
    </div>
</div>
</body>
</html>