<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{layout :: head}"/>
    <script type="text/javascript" src="/js/expense.js"></script>
    <link rel="stylesheet" href="/css/expense.css">
    <style>
        a {
            text-decoration: none;
            color: inherit;
            cursor: pointer;
        }
    </style>
</head>
<body>
<div th:insert="~{layout :: container(~{ :: content})}">
    <div th:fragment="content">
        <!-- user inputs -->
        <div class="row">
            <div class="col">
                <form id="expense-form" class="form-inline d-flex align-items-end" th:action="@{/transaction}"
                      method="post">
                    <div class="form-group col-2">
                        <label for="date">Date</label>
                        <input class="form-control" type="date" id="date" name="date"
                               th:max="${#temporals.createToday()}" required>
                    </div>
                    <div class="form-group col">
                        <label for="description">Description</label>
                        <input class="form-control" type="text" id="description" name="description" maxlength="50"
                               placeholder="Describe your expense" required>
                    </div>

                    <div class="form-group col-2">
                        <label for="category">Category</label>
                        <select class="form-select" name="category" id="category">
                            <option th:each="category : ${categories}" th:value="${category.getId()}"
                                    th:text="${#strings.capitalize(category.getName())}"></option>
                        </select>
                    </div>

                    <div class="form-group col-2">
                        <label for="amount">Amount</label>
                        <input class="form-control" type="number" step="0.01" id="amount" name="amount" min="0.01"
                               max="1000000" placeholder="Enter amount" required>
                    </div>
                    <input type="submit" class="btn btn-primary" value="Add" style="width: 80px; height: 40px">
                </form>
            </div>
        </div>
        <!-- end of user inputs -->

        <!-- table of transactions-->
        <div class="row" style="margin-top: 2%">
            <div class="col table-responsive-xl">
                <table id="transaction-table" class="table table-bordered table-hover">
                    <thead class="table-primary">
                    <tr>
                        <th>
                            <div class="d-flex justify-content-between">
                                Date
                                <a th:href="@{/transaction(sort='date', order=${#strings.equals(order, 'asc') ? 'desc' : 'asc'})}">
                                    <i class="bi"
                                       th:classappend="${#strings.equals(sort,'date') and #strings.equals(order,'asc')} ? 'bi-arrow-up' : 'bi-arrow-down'"></i>
                                </a>
                            </div>
                        </th>
                        <th>
                            <div class="d-flex justify-content-between">
                                Description
                                <a th:href="@{/transaction(sort='description', order=${#strings.equals(order, 'asc') ? 'desc' : 'asc'})}">
                                    <i class="bi"
                                       th:classappend="${#strings.equals(sort,'description') and #strings.equals(order,'asc')} ? 'bi-arrow-up' : 'bi-arrow-down'"></i>
                                </a>
                            </div>
                        </th>
                        <th>
                            <div class="d-flex justify-content-between">
                                Category
                                <a th:href="@{/transaction(sort='category', order=${#strings.equals(order, 'asc') ? 'desc' : 'asc'})}">
                                    <i class="bi"
                                       th:classappend="${#strings.equals(sort,'category') and #strings.equals(order,'asc')} ? 'bi-arrow-up' : 'bi-arrow-down'"></i>
                                </a>
                            </div>
                        </th>
                        <th>
                            <div class="d-flex justify-content-between">
                                Amount
                                <a th:href="@{/transaction(sort='amount', order=${#strings.equals(order, 'asc') ? 'desc' : 'asc'})}">
                                    <i class="bi"
                                       th:classappend="${#strings.equals(sort,'amount') and #strings.equals(order,'asc')} ? 'bi-arrow-up' : 'bi-arrow-down'"></i>
                                </a>
                            </div>
                        </th>
                        <th>
                            Actions
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="transaction : ${transactions}">
                        <tr>
                            <td th:value="${transaction.getDate()}"
                                th:text="${#temporals.format(transaction.getDate(), 'MMM. dd yyyy')}"></td>
                            <td th:value="${transaction.getDescription()}" class="text-capitalize"
                                th:text="${transaction.getDescription()}"></td>
                            <td th:value="${transaction.getCategory().getName()}" class="text-capitalize"
                                th:text="${transaction.getCategory().getName()}"></td>
                            <td th:value="${transaction.getAmount()}"
                                th:text="${#numbers.formatCurrency(transaction.getAmount())}"></td>
                            <td>
                                <button type="button" class="btn" style="margin-right: 10px; padding: 0" data-bs-toggle="modal"
                                        data-bs-target="#editModal"
                                        th:onclick="editTransactionById([[${transaction.getId()}]], [[${_csrf}]])">
                                    <i class="bi bi-pencil-square"></i>
                                </button>
                                <a href="" type="button" class="btn" style="padding: 0"
                                   th:onclick="deleteTransactionById([[${transaction.getId()}]], [[${_csrf}]])">
                                    <i class="bi bi-trash" style="color: red"></i>
                                </a>
                            </td>

                            <!-- Modal -->
                            <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModal"
                                 aria-hidden="true" data-bs-keyboard="false" data-bs-backdrop="static">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Edit Expense</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <div id="expense-edit-form" class="modal-body">
                                            <form th:action="@{/transaction}" method="post">
                                                <input type="hidden" id="id-edit" name="id" value="">
                                                <div class="form-row">
                                                    <label for="date-edit">Date</label>
                                                    <input class="form-control" type="date" id="date-edit" name="date"
                                                           th:max="${#temporals.createToday()}" required>
                                                </div>
                                                <div class="form-row">
                                                    <label for="description-edit">Description</label>
                                                    <input class="form-control" type="text" id="description-edit"
                                                           name="description"
                                                           maxlength="50" required>
                                                </div>

                                                <div class="form-row">
                                                    <label for="category-edit">Category</label>
                                                    <select class="form-select" id="category-edit" name="category">
                                                        <option th:each="category : ${categories}"
                                                                th:value="${category.getId()}"
                                                                th:text="${#strings.capitalize(category.getName())}"></option>
                                                    </select>
                                                </div>

                                                <div class="form-row">
                                                    <label for="amount-edit">Amount</label>
                                                    <input class="form-control" type="number" step="0.01"
                                                           id="amount-edit" name="amount"
                                                           min="0.01" max="1000000" required>
                                                </div>
                                                <div class="d-flex justify-content-end">
                                                    <button type="button" class="btn btn-secondary mx-3"
                                                            data-bs-dismiss="modal">
                                                        Close
                                                    </button>
                                                    <input type="submit" class="btn btn-primary" value="Save changes">
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- end of table of transactions-->

        <!-- no data in database-->
        <div th:classappend="${transactions.size() == 0 ? 'row' : 'd-none' }" style="margin-top: 15%">
            <div class="col d-flex flex-column justify-content-center align-items-center">
                <img src="/images/no-data.png">
                <p class="h2 font-weight-bold"> No Data Available </p>
                <p class="small text-center text-secondary">There is no expense data to show you right now. <br> To
                    begin tracking your expenses, please enter your details and tap the 'Add' button.</p>
            </div>
        </div>
        <!-- end ofno data in database-->
    </div>
</div>
</body>
</html>