<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{layout :: head}"/>
    <script th:inline="javascript">
        function saveChanges() {
            alert("This feature will be implemented soon");
        }
    </script>
</head>
<body>
<div th:insert="~{layout :: container(~{ :: content})}">
    <div th:fragment="content">
        <div class="shadow p-3 mb-5 rounded" style="width: 30%; margin: auto">
            <div class="text-center">
                <p class="h1 m-auto">User Profile</p>
            </div>
            <form th:action="@{/profile}" method="post" th:object="${userProfileDTO}">
                <div class="form-row">
                    <label for="firstName">First Name</label>
                    <input class="form-control" th:field="*{firstName}" type="text" id="firstName" name="firstName">
                </div>
                <div class="form-row">
                    <label for="lastName">Last Name</label>
                    <input class="form-control" th:field="*{lastName}" type="text" id="lastName" name="lastName">
                </div>
                <div class="form-row">
                    <label for="email">Email Address</label>
                    <input class="form-control" th:field="*{email}" type="text" id="email" name="email">
                </div>
                <div class="form-row">
                    <label for="currentPassword">Current Password</label>
                    <input class="form-control" type="password" id="currentPassword" name="currentPassword">
                </div>
                <div class="form-row">
                    <label for="newPassword">New Password</label>
                    <input class="form-control" type="password" id="newPassword" name="newPassword">
                </div>
                <div class="form-row">
                    <label for="confirmNewPassword">Confirm New Password</label>
                    <input class="form-control" type="password" id="confirmNewPassword" name="confirmNewPassword">
                </div>
                <div class="text-center mt-4">
                    <button type="button" class="btn btn-primary w-50" onclick="saveChanges()">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>