<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{layout :: head}"/>
</head>
<body>
<div th:insert="~{layout :: container(~{ :: content})}">
    <div th:fragment="content">
        <div class="row">
            <div class="col d-flex">
                <div>
                    <label for="date">Date</label>
                    <input type="date" id="date" name="date">
                </div>
                <div>
                    <label for="date">Description</label>
                    <input type="text" id="description" name="description">
                </div>

                <div class="input-group">
                    <label for="category">Category:</label>
                    <select name="category" id="category">
                        <option th:each="category : ${categories}" th:value="${category.getId()}"
                                th:text="${category.getName()}"></option>
                    </select>
                </div>

                <div>
                    <label for="amount">Amount</label>
                    <input type="number" step="0.01" id="amount" name="amount">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col table-responsive">
                <table id="transaction-table" class="table table-bordered table-hover">
                    <thead class="thead-light">
                    <tr>
                        <th>Date</th>
                        <th>Description</th>
                        <th>Category</th>
                        <th>Amount</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>